.border-line{
    border-bottom: 1px solid #d6d6d6;
}

.city-label{
    margin-bottom: 20px !important;
}

@media(max-width:575px){
    .title-home{
        text-align: left;
    }
}
.title-home{
    text-align: left;
}