.house-img{
    height: 160px !important;
    width: 100%;
}
@media(max-width:768px){
    .house-img{
        height: auto !important;
        width: 100%;
    }
}
.city{
    font-size: 15px;
    margin-top: 8px;
    text-transform: uppercase;
    color: #5a5a5a;
}

.title{
    font-size: 18px;
}

.price{
    font-size: 15px;
    margin-top: -5px;
    color: #8a8a8a;
    font-weight: 400;
}

.review{
    margin-top: -5px;
    color: #797979;
}